<%- include('include/header',{
    Title: "Add Tab"
  }) %>
<script src="/scripts/addingtab-script.js" defer></script>
<script src="/scripts/animation.js" defer></script>
<!-- <script src="https://use.fontawesome.com/3ffd4638fd.js" defer></script> -->
</head>
<body>
    <div id="message" class="message-static">
      <p id="message-content"></p>
    </div>
    
    <%- include('addtabform',{customers:customers,
    products}) %>

    <%- include('list-data',{logtab:logtab}) %>
 
</body>
</html>